#showcase .showcase-content {
    padding-top: 20px;
    padding-bottom: 5px;
}

#showcase .showcase-content h1, .showcase-content p {    
    line-height: 0.2rem;
}

#showcase .showcase-content h1 {
    font-size: 40px;
}
#showcase .showcase-content p {
    text-align: center;
    font-size: 15px;
}
#showcase .showcase-content .btn {
    font-size: 10px;
    padding: 6px 10px;
}

#showcase img{
    width: 100% !important;
}

.navbar .logo {
    float: none;
    text-align: center;
}

.navbar ul, .navbar ul li {
    float: none;
    text-align: center;
    background: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}

.navbar ul li a {
    padding: 0px;
    /* border-bottom: #333 dotted 2px; */
}

/* Home Info */
#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

/* boxes */
.box {
    float: none;
    width: 100%;
}

/* About */
#about-info .info-right, #about-info .info-left{
    float: none;
    width: 100%;
}

#about-info .info-right {
    margin-top: 30px;
}

.l-heading {
    text-align: center;
}
