/* unn green: #003B1C */
/* Reset */
* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/img_3.jpg') no-repeat center center/cover;;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Reuseable Classes */
.container {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0 10px;
}

.primary-text {
  color: #003c4d;
}

.content {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #003c4d;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #003c4d;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #003b1c !important;
  color: #fff !important;
}
.bg-light {
  background: #f4f4f4 !important;
  color: #333 !important;
}
.bg-primary {
  background: #f7c08a !important;
  color: #003b1c !important;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

/* padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Navbar */
.navbar {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1999;
  overflow: hidden;
  padding: 0;
  background: #003b1c;
  color: #fff;
}

.navbar a {
  color: #fff;
}

.navbar .logo {
  font-size: 20px;
  font-weight: 300;
  float: left;
  padding-top: 10px;
}

.navbar ul {
  list-style: none;
  /* float: right; */
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: flex;
  padding: 10px;
  text-align: center;
}

.navbar ul li a:hover{
  border-bottom: 2px solid #e67e22;
}
.navbar ul li a.current {
  color: #f7c08a;
  cursor: pointer;
}

.navbar .container{
  width: 100%;
  padding: 0 0 !important;
}

.navbar-toggler{
  color: #f2f2f2;
  z-index: 1;
}

/* stickyNav */
.sticky{
  background: none;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
.sticky a{
  color: #f7c08a !important;
}

.navbar-toggler{
  font-size: 150%;
  cursor: pointer;
}

/* Showcase */
#showcase {
  margin-bottom: auto;
  /* height: 600px; */
}

#showcase .showcase-content {
  /* color: #fff; */
  text-align: center;
  /* padding-top: 170px; */
}

#showcase .showcase-content h1 {
  font-size: 40px;
  line-height: 1.2em;
  /* color: #f7c08a; */
}

#showcase .showcase-content p {
  text-align: justify;
  padding-bottom: 20px;
  line-height: 1.5em;
}

#showcase .showcase-content a {
  align-self: center;
}
#showcase img{
width: 50% !important;
background: black;
z-index: 1;
}

/* Home info */
#home-info {
  margin-top: 80px;
  height: 100vh;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url(../images/img_5.jpg) center no-repeat;
  min-height: 100%;
  animation: animate1 6s forwards 6s ease-in-out infinite;
}

@keyframes animate1{
  to {background: url(../images/img_4.jpg) center no-repeat;}
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 50px;
  margin-top: 50px;
  overflow: hidden;
}

h2 .primary-text {
  color: #f7c08a;
}

#home-info .info-content p {
  padding-bottom: 30px;
}
/* animations */
.wp-1, .wp-2{
  opacity: 0;
  animation-duration: 3s;
}

.wp-1 .animate__animated, .wp-2 .animate__animated {
  opacity: 1;
}

/* features/Teachers */
#features{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  float: left;
  width: 33.3%;
  padding: 30px;
  text-align: center;
  transition: all 1s ease-in-out;
}
.box:hover{
  transform: scale(1.1);
}

.box img {
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: inherit;
  top: -60px;
  left: calc(50% - 50px);
}

/* About info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;  
  width: 50%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

/* Testimonials */
#testimonials {
  height: 100%;
  background: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/slider_1.jpg')no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 49.9%;
}

/* Login/Signup page */
.login-page{
  width: 360px;
  padding: 20px 0 0;
  margin: auto;
}

.Sign-in-page{
  width: 360px;
  padding: 20px 0 0;
  margin: auto;
}

.container-login {
  background: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/Untitled-8.jpg') no-repeat center center/cover;
  padding: 10px;
}

.form{
  position: relative;
  z-index: 1;
  background: #f3f3f3;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  opacity: 0.9;
}

.form input{
  font-family: "Roboto", fantasy;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
}

.form button{
  font-family: "Roboto", fantasy;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,.form button:active{
  background: #43A047;
}

.form .message{
  margin: 15px 0 0;
  color: darkblue;
  font-size: 12px;
}

.form .message a{
  color: #4caf50;
  text-decoration: none;
}

.form .login-form{
  display: block;
}


/* foooter */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}