/* video section */
* {
    background: rgb(25, 27, 26);
}

body {
    overflow: hidden;
}

.test {
    display: grid;
    margin-right: 20pt;
    color: #fff;
    position: relative;
    float: right;    
}

.test a {
    background: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    animation: animate2 6s forwards 6s ease-in-out infinite;
}

@keyframes animate2{
    to {background: #003c4d;}
  }

@media only screen and (max-width: 768px) {
    #video_player {
        padding: 10px;
        color: #fff;
        position: absolute;
    }

    #myVideo{
        width: 100%;
    }

    #playButtons {
        display: none;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    button{
        width: 50em;
    }

    .btns  {
        border: none;
        background: var(--secondary-color);
        color: #fff;
        padding: 0.75rem 1.5rem;
        margin-top: 1rem;
        transition: opacity 1s ease-in-out;
        text-decoration: none;
    }

    .btns:hover {
        background: #f7c08a;
        color: #003c4d;
        cursor: pointer;
    }

    .show-stream {
        background: rgb(25, 27, 26);
        padding: 60px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 767px) {
    #video_player {
        padding: 60px 25px;
        color: #fff;
        position: absolute;
        z-index: -1;
    }

    #playButtons {
        padding: 25% 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 50px;
        float: right;
    }
    #myVideo{
        width: 75%;
    }

    button {
        width: 100%;
    }


    .btns  {
        border: none;
        background: var(--secondary-color);
        color: #fff;
        padding: 0.75rem 1.5rem;
        margin-top: 1rem;
        transition: opacity 2s ease-in-out;
        text-decoration: none;
    }
    .btns:hover {
        background: #f7c08a;
        color: #003c4d;
        cursor: pointer;
    }

    .show-stream {
        padding: 20px;
    }
}